<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="about-con">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;为了加快拓展市场步伐，本项目开始面对全国范围内诚招代理商。代理商不分企业和个人，只要有推广能力和经济实力即可申请。代理商申请成功后，公司会给代理商分配一个功能完善的系统管理平台。代理商通过这个系统平台可以实现对新用户的注册、使用、回款、跟进、员工账号分配等情况进行高度透明的管理。这是一个高度开放而又十分安全的系统平台，系统管理员、代理商、代理商下属员工使用的是同一个系统平台，只是所辖的管理范围不同而已。因此，这个平台也是一个高度透明的管理平台，系统管理员和代理商、代理商和代理商下属员工之间的所有操作（删除、修改、跟进等）都会实时反应在这个平台相应的管理模块中，这样既有利于系统管理员和代理商、代理商与下属员工之间的公平透明地相互监督，也有利于实现整个系统的高效，实时管理。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 根据代理商的推广能力和经济能力的不同，系统将代理商分成若干等级，代理利润为销售回款额度的30-70%，也就是说，如果软件的销售市场价格为1000元/套，那么代理商最高可以得到700元的利润提成，最低也可以拿到300元的业务提成。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 代理商的代理范围为全国，也就是说，代理商可以在当地利用自己的人脉资源及销售网络进行销售房讯王软件，也可以通过互联网，把房讯王软件销售给网上其他用户。我们对代理商的要求很低，只要代理商有能力销售软件即可，而不限于地域和形式。
        </p>
    </div>
</div>
</div>