<div class="banner">
    <div class="banner-left"></div>
    <div class="banner-right">
        <div class="top">
            <ul>
                <li>2017年08月08日 星期日</li>
                <li>|</li>
                <li>收藏本站</li>
                <li>|</li>
                <li>设为首页</li>
            </ul>
        </div>
        <div class="middle">
            <div class="qq"><img src="<?php echo base_url() ?>assets/images/qq.gif"></div>
        </div>
        <div class="bottom">业务咨询热线：17074646930</div>
    </div>
</div>
