<div class="footer">
    <div class="footer-nav">
        <ul>
            <li><a href="/">网站首页</a> </li>
            <li><a href="<?php echo site_url('home/about')?>">关于我们</a> </li>
            <li><a href="#">业界原创</a> </li>
            <li><a href="#">产品展示</a> </li>
            <li><a href="#">服务定制</a> </li>
            <li><a href="#">代理招商</a> </li>
            <li><a href="#">成功案例</a> </li>
            <li><a href="#">产品价格</a> </li>
            <li><a href="#">使用流程</a> </li>
            <li><a href="#">常见问题</a> </li>
        </ul>
    </div>
    <div class="footer-address">
        <div class="url">房讯王官方网站：software.86fxw.com </div>
        <div class="add">公司地址：北京丰台区万柳桥甲3号宝隆大厦11层 </div>
    </div>
    <div class="footer-count">来访人数：120000</div>
</div>
