<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="about-con">
        <p>
            1<span style="color:#E53333;">.承揽单独定制公司门户网站</span>
        </p>
        <p>
            &nbsp; &nbsp; &nbsp; &nbsp;公司有多年的门户网站开发的经验和数百个成功案例，如果贵公司有建站的需求，请与我们联系，我们会以最优惠的会员价格收取费用。
        </p>
        <p>
            2.<span style="color:#E53333;">承接与第三方网站信息同步任务</span>
        </p>
        <p>
            &nbsp; &nbsp; &nbsp; &nbsp;如果用户自己拥有一个可控制的独立的二手房信息网站，我们可以负责将您的网站信息与房讯王里的信息同步，这样即省去了专门向网站提交信息，也保证了网上的信息与软件中的信息高度同步。
        </p>
    </div>
</div>
</div>