<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="about-con">
        &nbsp;1.<span style="color:#E53333;">这个企业版软件是免费的吗?</span><br>
        <p>
            &nbsp; &nbsp; 答:不是免费的软件，但可以长期免费使用，条件是必须单机使用。免费的情况下，只能一台电脑使用并另加一部手许可，目的是扶持小中介和起到宣传推广的作用（这些用户小用户最终有了一定发展规模后，必定会付费使用，这是我们的发展理念），并不是免费的软件，如果贵公司有一定的规模并且有长远发展规划，请使用付费软件，这样即可保证软件的规模性使用，又有及时维护的保障。天下没有免费的午餐，不要企盼在网上能找到既免费又安全的房介管理软件，如果对方声称永久免费且不限使用规模，肯定你要为此付出惨重代价(一般为盗用重要房源资料拿去共享)为其补偿.试想，一个庞大的公司需要开销，他们耗费了大量的成本来开发一套功能齐全的软件系统，目的就是永久免费提供给你使用？他们吃什么喝什么？稍用脑子就可以想得出来，这头免费，那头可能你就要为此付代价来为其做出相应的补偿.
        </p>
        <p>
            2.<span style="color:#E53333;">下载企业房讯王后，为什么还要注册?</span><br>
            &nbsp; &nbsp; 答:这是必须的。因为如果您不注册的话，我们哪知道您是谁谁谁呢？如果我们连您的公司是谁都不知道，怎么可能给你们通过网络远程维护呢？况且注册的用户ID是日后贵公司付费时的一个重要身份标识，如果没有这个用户ID，我们无法区分您付的款是哪个软件的。还有，在新用户注册时，必须要选择所在省份和归属城市，目的就是注册成功后，系统会自动从服务器上下载当地的城区和片区，甚至是当地的楼盘小区数据，这样，为日后在软件里录入房源时，节省了不少时间，也为标准录入房源提供了一个重要的数据资料，所以，新用户在正式使用前，必须注册的，注册不等同于付费，注册账号只是为了便于维护和识别。<br>
        </p>
    </div>
</div>
</div>