
<div class="con-block">
    <div class="left">
        <div class="up">
            <ul>
                <li><h1>产品中心</h1></li>
                <li class="more"><a href="<?php echo site_url($index_con['产品中心']['url']) ?>"> 更多>></a></li>
            </ul>
        </div>
        <div class="down">
            <div class="down-left p01"></div>
            <div class="down_right>"><p><?php echo $index_con['产品中心']['content'] ?></p></div>
        </div>
    </div>
    <div class="middle">
        <div class="up">
            <ul>
                <li><h1> 服务定制</h1></li>
                <li class="more"><a href="<?php echo site_url($index_con['服务定制']['url']) ?>"> 更多>></a></li>
            </ul>
        </div>
        <div class="down">
            <div class="down-left p02"></div>
            <div class="down_right>"><p><?php echo $index_con['服务定制']['content'] ?></p></div>
        </div>
    </div>
    <div class="right">
        <div class="up">
            <ul>
                <li><h1> 代理招商</h1></li>
                <li class="more"><a href="<?php echo site_url($index_con['代理招商']['url']) ?>"> 更多>></a></li>
            </ul>
        </div>
        <div class="down">
            <div class="down-left p03"></div>
            <div class="down_right>"><p><?php echo $index_con['代理招商']['content'] ?></p></div>
        </div>
    </div>
</div>

<div class="con-block">
    <div class="left">
        <div class="up">
            <ul>
                <li><h1>成功案例</h1></li>
                <li class="more"><a href="<?php echo site_url($index_con['成功案例']['url']) ?>"> 更多>></a></li>
            </ul>
        </div>
        <div class="down">
            <div class="down-left p04"></div>
            <div class="down_right>"><p><?php echo $index_con['成功案例']['content'] ?></p></div>
        </div>
    </div>
    <div class="middle">
        <div class="up">
            <ul>
                <li><h1> 产品价格</h1></li>
                <li class="more"><a href="<?php echo site_url($index_con['产品价格']['url']) ?>"> 更多>></a></li>
            </ul>
        </div>
        <div class="down">
            <div class="down-left p05"></div>
            <div class="down_right>"><p><?php echo $index_con['产品价格']['content'] ?></p></div>
        </div>
    </div>
    <div class="right">
        <div class="up">
            <ul>
                <li><h1> 常见问题</h1></li>
                <li class="more"><a href="<?php echo site_url($index_con['常见问题']['url']) ?>"> 更多>></a></li>
            </ul>
        </div>
        <div class="down">
            <div class="down-left p06"></div>
            <div class="down_right>"><p><?php echo $index_con['常见问题']['content'] ?></p></div>
        </div>
    </div>
</div>
