<?php //echo p($price_nav) ?>
<div class="nav-left">
    <div class="proudct_nav">
        <div class="nav_title">产品导航</div>
        <div class="nav_con">
            <div class="content_top">
                <img alt="房讯王个人房源采集器" src="<?php echo base_url() ?>assets/images/fxwsearch.gif" />
                <h1><a href="<?php echo site_url('home/product/4860B8E72A4754452B4AA27526B13D92') ?>">房讯王个人房源采集器</a></h1>
            </div>
            <div class="content_top">
                <img alt="房讯王房产中介管理系统" src="<?php echo base_url() ?>assets/images/fxwe.gif" />
                <h1><a href="<?php echo site_url('home/product/76F5E70CA557CAACBEF80272AF0AC948') ?>">房讯王房产中介管理系统</a></h1>
            </div>

            <div class="content_top">
                <img alt="手机房讯王" src="<?php echo base_url() ?>assets/images/sjfxw.gif" />
                <h1><a href="<?php echo site_url('home/product/26145CEEA074BA18BBC00DA35079249A') ?>">手机房讯王</a></h1>
            </div>

        </div>
    </div>
    <div class="proudct_nav">
        <div class="nav_title">产品报价</div>
        <div class="nav_con">
            <div class="content">
                <?php echo $price_nav[0]['content'] ?>
            </div>
        </div>
    </div>
    <div class="proudct_nav">
        <div class="nav_title">客服中心</div>
        <div class="nav_con">
            <div class="content">
                <p>
                    工作时间： <?php echo $sysinfo[0]['worktime'] ?><br>
                    联系地址： <?php echo $sysinfo[0]['address'] ?><br>
                    联系电话：<?php echo $sysinfo[0]['phone'] ?><br>
                    网站地址： <?php echo $sysinfo[0]['url'] ?><br>
                <p>
            </div>
        </div>
    </div>
</div>
