<div class="nav-left">
    <div class="proudct_nav">
        <div class="nav_title">产品导航</div>
        <div class="nav_con">
            <div class="content">
                <img alt="房讯王个人房源采集器" src="<?php echo base_url() ?>assets/images/fxwsearch.gif" />
                <h1><a href="#">房讯王个人房源采集器</a></h1>
            </div>
            <div class="content">
                <img alt="房讯王房产中介管理系统" src="<?php echo base_url() ?>assets/images/fxwe.gif" />
                <h1><a href="#">房讯王房产中介管理系统</a></h1>
            </div>

            <div class="content">
                <img alt="手机房讯王" src="<?php echo base_url() ?>assets/images/sjfxw.gif" />
                <h1><a href="#">手机房讯王</a></h1>
            </div>

        </div>
    </div>
    <div class="proudct_nav">
        <div class="nav_title">产品报价</div>
        <div class="nav_con">
            <div class="content">
                <p>
                    <span style="background-color:#e56600;">个人房源采集器</span> <br />
                    <span>服务费</span><span>：</span><span>360元/年</span> <br />
                    &nbsp;注：仅允许一人使用，且绑定电脑，若在使用过程中，更换电脑，请及时与客服人员联系。
                <p>
                    <span style="background-color:#e56600;">房讯王房产中介信息管理系统</span> <br />
                    软件基础价格： <br />
                    单机使用：终身免费(含一年升级维护) <br />
                    联机使用：1000元/店(含一年升级维护) <br />
                    <span style="background-color:#ffe500;">内嵌采集器</span>：服务费：720元/年，可多人使用，不限电脑使用数量。 <br />
                    升级维护费用：200元/年/店 <br />
                    <span style="background-color:#ffe500;">连锁店服务</span>：360元/年/店(含软件正常的升级维护服务)&nbsp; <br />
                    <span style="background-color:#e56600;">手机房讯王</span> <br />
                    本地所有功能终身免费使用 <br />
                    <span style="background-color:#ffe500;">远程数据备份</span> <br />
                    仅文字备份：120元/年 <br />
                    文字+图片备份:200元/年
                <p>
                    86房讯网VIP数据导入：100元/年&nbsp;<br />
                    网络个人房源搜索：200元/年&nbsp;<br />
                    房源网络同城共享：0元
                </p>
                <p>
                    上述手机房讯王项目收费封顶为300元/年，即可开通所有功能。
                </p>

                </p>
            </div>
        </div>
    </div>
    <div class="proudct_nav">
        <div class="nav_title">客服中心</div>
        <div class="nav_con">
            <div class="content">
                <p>
                    工作时间： 	8:00 AM-6:00 PM<br>
                    联系地址： 	北京丰台区万柳桥甲3号宝隆大厦11层<br>
                    联系电话：<br>
                    网站地址： 	software.86fxw.com<br>
                <p>
            </div>
        </div>
    </div>
</div>
