<div class="nav">
    <ul>
        <li><a href="/">网站首页</a> </li>
        <li><a href="<?php echo site_url('home/about')?>">关于我们</a> </li>
        <li><a href="<?php echo site_url('home/news') ?>">业界原创</a> </li>
        <li><a href="<?php echo site_url('home/products') ?>">产品展示</a> </li>
        <li><a href="<?php echo site_url('home/customized') ?>">服务定制</a> </li>
        <li><a href="<?php echo site_url('home/agent') ?>">代理招商</a> </li>
        <li><a href="<?php echo site_url('home/success') ?>">成功案例</a> </li>
        <li><a href="<?php echo site_url('home/price') ?>">产品价格</a> </li>
        <li><a href="<?php echo site_url('home/useprocess') ?>">使用流程</a> </li>
        <li><a href="<?php echo site_url('home/faq') ?>">常见问题</a> </li>
    </ul>
</div>
