<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="about-con">
        <ul>
            <li class="news-rec">
                <div class="news-title">标题</div>
                <div class="news-date">发表时间</div>
            </li>
        </ul>
        <ul>
            <?php foreach($info as $item):?>
            <li class="news-con">
                <div class="news-title"><a href="<?php echo site_url('home/shownews/'.$item['rowid']) ?>"><?php echo $item['title']?></a> </div>
                <div class="news-date"><?php echo date('Y-m-d',$item['modDate'])?></div>
            </li>
            <?php endforeach;?>
            <li class="news-footer">
                <div class="news-total">共 <?php echo $total_rows ?> 条 显示第 <?php echo isset($cur_page) ?$cur_page:1 ?> 页 <?php echo $offset ?> 条</div>
                <div class="news-pages"><?php echo $links ?></div>
            </li>
        </ul>
    </div>
</div>
</div>