<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="about-con">
        <ul>
            <li class="news-rec">
                <div class="news-title">标题</div>
                <div class="news-date">发表时间</div>
            </li>
        </ul>
        <ul>
            <li class="news-con">
                <div class="news-title">房产经纪人应俱备哪些素质才能赚到钱</div>
                <div class="news-date">2015-07-01</div>
            </li>
            <li class="news-con">
                <div class="news-title">房产经纪人如何编造“善意的谎言”来得到业主的信任</div>
                <div class="news-date">2015-06-30</div>
            </li>
            <li class="news-con">
                <div class="news-title">哈尔滨下调中介费刺激二手房交易</div>
                <div class="news-date">2015-01-03</div>
            </li>
            <li class="news-con">
                <div class="news-title">手机房讯王个人登录，可以实现同城共享功能</div>
                <div class="news-date">2013-05-06</div>
            </li>
            <li class="news-con">
                <div class="news-total">共 4 条 显示第 1 页 1-4 条</div>
                <div class="news-pages">首页	上一页	1	下一页	尾页</div>
            </li>
        </ul>
    </div>
</div>
</div>