<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="about-con">
        房讯王产品根据用户的实际使用情况，采取不同的收费价格：
        </p>
        <p>
            <span style="line-height:1.5;background-color:#e56600;">房讯王房产中介信息管理系统</span>
        </p>
        <p>
            <span style="line-height:1.5;">（1）单机使用：永久免费，门店内只允许一台电脑使用，不能多台联机使用，门店内允许接入一台手机使用(含一年的升级维护服务)。</span>
        </p>
        <p>
            （2）局域网联机使用：1000元/门店，门店内可接入分机数量不限制，门店内可接入手机数量不限制(含一年的升级维护服务)。
        </p>
        <p>
            （3）连锁店联网使用：按360元/店/年，收取联网维护费用(含软件正常的升级维护服务)。
        </p>
        <p>
            （4）软件升级维护费：200元/店/年，该费用用来维持软件的自动升级和日常维护，如果不缴此费，软件仍能正常使用，但不会正常的及时更新和遇到问题时，不会得到官方的维护服务。
        </p>
        <p>
            <span style="background-color:#ffe500;">内嵌采集器</span>：服务费：720元/年，可多人使用，不限电脑使用数量。
        </p>
        <p>
            注：不论是免费的还是收费的，升级维护费用单独计算。也就是说，软件下载正常使用一年以后，如果想让软件保持正常的自动更新和遇到问题时能得到官方的维护服务，就必须缴纳维护费用。但开通连锁服务的用户，不必缴纳此费用。
        </p>
        <p>
            <span style="background-color:#e56600;">房讯王个人房源采集器</span>
        </p>
        <p>
            &nbsp;服务费：360元/年 <br>
            &nbsp;注：仅允许一人使用，且绑定电脑，若在使用过程中，更换电脑，请及时与客服人员联系。
        </p>
        <p>
            <span style="background-color:#e56600;">手机房讯王</span> <br>
            本地所有功能终身免费使用 <br>
            <span style="background-color:#ffe500;">远程数据备份 </span><br>
            仅文字备份：120元/年 <br>
            文字+图片备份:200元/年 <br>
            86房讯网VIP数据导入：100元/年 <br>
            网络个人房源搜索：200元/年 <br>
            房源网络同城共享：0元
        </p>
        <p>
            上述手机房讯王项目收费封顶为300元/年，即可开通所有功能。
        </p>
        <span style="background-color:#e53333;">以上费用不包含税费。</span>
    </div>
</div>
</div>