<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="about-con">
        <ul>
            <?php foreach($products as $item): ?>
            <li class="proudct_rec">
                <div class="proudct_pic">
                    <img alt="<?php echo $item['title']?>" src="<?php echo base_url('assets/images/'.$item['pics']) ?>" />
                    <h1><a href="<?php echo site_url('home/product/').$item['rowid']?>"><?php echo $item['title']?></a> </h1>
                </div>
                <div class="proudct_profile">
                    <p>
                        <?php echo $item['profile'] ?>
                    </p>
                </div>
            </li>
            <?php endforeach;?>


            <li class="news-con">
                <div class="news-total">共 3 条 显示第 1 页 1-3 条</div>
                <div class="news-pages">首页	上一页	1	下一页	尾页</div>
            </li>
        </ul>
    </div>
</div>
</div>