<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="about-con">
        <ul>
            <li class="proudct_rec">
                <div class="proudct_pic">
                    <img alt="房讯王个人房源采集器" src="<?php echo base_url() ?>assets/images/fxwsearch.gif" />
                    <h1>房讯王个人房源采集器</h1>
                </div>
                <div class="proudct_profile">
                    <p>
                        房讯王个人房源采集器为继房讯王房介管理软件之后又一新作，是独立房产经纪人采集网上个人优质房源的必备神器。<br>
                        新用户必须先如实注册所在的省份及城市，如果所在的城市不在选择列表内，可以选择上一级隶属城市，然后在采集城区里填写所在的城市即可。例如：如果您是苏州吴江的用户，在系统里是找不到吴江的城市的，此时，要找其上级隶属城市：苏州，选择苏州后，在“采集城区”里选择“吴江”即可仅采集吴江的房源了.另外在新用户注册的过程中要注意的是：
                        新用户必须先如实注册所在的省份及城市，如果所在的城市不在选择列表内，可以选择上一级隶属城市，然后在采集城区里填写所在的城市即可。例如：如果您是苏州吴江的用户，在系统里是找不到吴江的城市的，此时，要找其上级隶属城市：苏州，选择苏州后，在“采集城区”里选择“吴江”即可仅采集吴江的房源了.另外在新用户注册的过程中要注意的是：
                    </p>
                </div>
            </li>

            <li class="proudct_rec">
                <div class="proudct_pic">
                    <img alt="房讯王房产中介管理系统" src="<?php echo base_url() ?>assets/images/fxwe.gif" />
                    <h1>房讯王房产中介管理系统</h1>
                </div>
                <div class="proudct_profile">
                    <p>
                        房讯王在汲取了当今市面上优秀的同类软件功能基础上，再结合自身优势，开发了安卓系统的手机客户端，开起了同类软件开始支持手机终端的先河。至此，房产中介软件彻底结束了只能在电脑上运行的历史。真正实现了移动办公，手机里的信息和公司电脑里的信息实时同步，无论业务员在哪里，只要有网络的地方，都可以实时将在手机上更新的信息及时同步到公司的电脑上。公司业务员（经纪人）从此不必再回公司的电脑上录入和更新信息，同时在外面随时根据实际情况，拍摄房源的相应配图。大大地提高了工作效率和为公司减资源（主要是电脑资源，可以配置少量电脑即可）的开销提供了新的解决方案。

                        　　企业版的房讯王能为以下不同需求的房介机构提供如下新的解决方案：

                        　　1.公司店内多台电脑同时联机使用，使多名操作人员同时使用软件。

                        　　2.公司各连锁店联网使用，让各连锁店共享公司的所有资源。
                    </p>
                </div>
            </li>

            <li class="proudct_rec">
                <div class="proudct_pic">
                    <img alt="手机房讯王APP" src="<?php echo base_url() ?>assets/images/sjfxw.gif" />
                    <h1>手机房讯王APP</h1>
                </div>
                <div class="proudct_profile">
                    <p>
                        手机版房讯王是企业版本和个人版本集成的版本，也就是说，用户启动手机房讯王后，可以选择“个人登录”或“企业登录”，其中，“个人登录”适合于独立经纪人，不依赖于任何公司软件,就可以独立使用。“企业登录”必须有电脑版本的房讯王支持才可以用。

                        主要功能

                        企业登录：

                        企业登录的手机房讯王所有功能请参照电脑版本的房讯王功能，电脑版本上的有关房源的功能，都可以在手机版本上体现。

                        个人登录：

                        （1）房（客）源管理：主要功能包括：房源（客户）的录入、查询、删除和跟进等。

                        （2）业务提醒：可以对具体房源进行跟进提醒，也可以自定义提醒。

                        （3）同城共享：独立经纪人可以有选择地将需要与他人共享合作的房源进行同城共享。
                    </p>
                </div>
            </li>
            <li class="news-con">
                <div class="news-total">共 3 条 显示第 1 页 1-3 条</div>
                <div class="news-pages">首页	上一页	1	下一页	尾页</div>
            </li>


        </ul>
    </div>
</div>
</div>