<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="title">
        <h1><?php echo $news[0]['title'] ?></h1>
    </div>
    <div class="issu">
        发布时间:<?php echo date('Y-m-d H:i:s',$news[0]['modDate'])?>&nbsp;作者:<?php echo $news[0]['author']?>&nbsp;来源:<?php echo $news[0]['source']?>文字大小:[<a href="javascript:fontZoom(16)"><span style="text-decoration: none">大</span></a>][<a href="javascript:fontZoom(14)"><span style="text-decoration: none">中</span></a>][<a href="javascript:fontZoom(12)"><span style="text-decoration: none">小</span></a>]
    </div>
    <div class="about-con" >
        <p id="con">
            <?php echo $news[0]['content'] ?>
        </p>
        <p><!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
            <a class="bds_qzone"></a>
            <a class="bds_tsina"></a>
            <a class="bds_tqq"></a>
            <a class="bds_renren"></a>
            <a class="bds_t163"></a>
            <span class="bds_more"></span>
        </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
            document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
        </script>
        <!-- Baidu Button END --></p>
    </div>
</div>
</div>