<div class="about-side">
<div class="about">
    <?php $this->load->view('index/nav-left.html'); ?>
    <div class="about-con">
        <span style="background-color:#e56600;font-size:16px;">房讯王房产中介信息管理系统</span>
        </p>
        <p>
            <span style="background-color:#e56600;"></span>使用流程如下图所示：
        </p>
        <p align="center">
            <img alt="" src="http://software.86fxw.com/uploadfile/image/20141110/20141110181433_32464.jpg">
        </p>
        <p>
            <br>
        </p>
        <p>
            系统中只要录入了一些房源后，就可以进行查询，删除，编辑以及其他的相关管理了。
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            手机房讯王操作程序图如下图所示：
        </p>
        <p align="center">
            <img alt="" src="/uploadfile/image/20150103/20150103212209_45271.jpg">
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            以上仅是一个新用户的操作流程，具体细节如果遇到不明白的或操作不了的，请及时与客服人员QQ:542016576联系，以取得技术上的支持！
        </p>
        <p>
            点击这里<a class="ke-insertfile" href="http://software.86fxw.com/soft/fxwe.rar" target="_blank"><span style="color:#003399;">下载安装电脑版房讯王房产中介管理系统</span>    </div>
</div>
</div>